@model WebApplication1.DAO.Report

@{
    ViewBag.Title = "Форма создания отчета";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Форма создания отчета</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
          @Html.ValidationSummary(true)

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.Label("Название");
            @Html.TextAreaFor(modet => modet.Name)
            @Html.Label("Текст")
            @Html.TextAreaFor(model => model.Text, new { cols = "20", rows = "15" })
            @Html.ValidationMessageFor(model => model.Text)
        </div>
         @{                                   
        
        List<SelectListItem> list = new List<SelectListItem>();
        foreach (WebApplication1.DAO.Type item in new WebApplication1.DAO.DAO().getArrayOfTypes())
            {
                list.Add(new SelectListItem() { Value = item.Id.ToString(), Text = item.Name });
            }
          }
         
        <div class="form-group">
            @Html.Label("Выберите тип")
            @Html.DropDownListFor(model => model.Type_id, list)
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="padding-left:60%">
                <input type="submit" value="Create" class="btn btn-default" style="max-width:45%; float:left;" />
                <input type="button" value="Cancel" class="btn btn-default" onclick="history.back()" style="max-width:45%; float:right;" />
               
            </div>
        </div>
    </div>
}          

<div>
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
