<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
    <li>@Html.ActionLink("Список отчетов", "List", "Report")</li>
    <li>@Html.ActionLink("Добавить пользователя", "CreateUser", "Admin")</li>
    <li>@Html.ActionLink("Назначить пользователю школу", "SelectSchoolForUser", "Admin")</li>
    <li>@Html.ActionLink("Назначить роль", "SetRole", "Admin")</li>
    <li>@Html.ActionLink("Список Школ", "ShcoolList", "Admin")</li>
    <li>@Html.ActionLink("Список Пользователей", "UserList", "Admin")</li>
    <li>@Html.ActionLink("Добавить школу", "AddSchool", "Admin")</li>
</ul>
