<li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
<li>@Html.ActionLink("О программе", "About", "Home")</li>
<li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
<li>@Html.ActionLink("Добавить отчет", "Create", "Report")</li>
<li>@Html.ActionLink("Список отчетов", "List", "Report")</li></ul>